@tailwind base;
@tailwind components;
@tailwind utilities;

.homeBagImg {
  background-image: url("./assets/images/Picture3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.homeBagImgWrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
